* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Stint Ultra Expanded", Georgia, serif;
  overflow-x: hidden;
}
/* HEADER SECTION START*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVIGATION */
.navbar {
  background-color: #783f27;
  font-size: 2rem;
  width: 100vw;
  margin-bottom: 3rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
  margin: 0rem 1rem;
}

.navbar ul li {
  list-style: none;
  margin: 0 0.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #f9ab33;
  text-transform: uppercase;
  border-bottom: dotted #783f27 0.1rem;
  padding-bottom: 0.2rem;
}

.navbar ul li a:hover {
  color: #fff;
  cursor: pointer;
}

header h1 {
  margin-bottom: 0.6rem;
}

header p {
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}
/* END OF HEADER SECTION */

/*MAIN BREADS SECTION START */

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2.5rem;
  padding: 2rem;
  border: double 0.2rem #eaddc4;
  border-radius: 1rem;
}

.main-info h2 {
  align-self: flex-start;
  color: #555;
  line-height: 1.8;
  margin: 1.5rem;
}

.heading {
  width: 90vw;
  align-self: flex-start;
  border-top: 2px #7a0002 solid;
  border-left: 4px #7a0002 solid;
  margin: 1rem;
  padding-left: 1rem;
  padding-top: 0.2rem;
  color: #7a0002;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.text img {
  width: 15%;
  margin-left: 1rem;
}
.text {
  color: #555;
  line-height: 1.8;
}
.more {
  align-self: flex-start;
  margin: 1.3rem 0;
}
.more a {
  color: #dc6903;
  text-decoration: none;
  border-bottom: dotted 0.1rem #dc6903;
  padding-bottom: 0.1rem;
}

/* MAIN BREADS SECTION ENDS */

/* HOURS START */
.worktime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin-left: 12vw;
  height: 22rem;
  background: url(img/scallop.png) repeat-y left top;
  background-color: #f6f3ed;
  border-top-right-radius: 1rem;
  padding: 1rem;
}

.worktime h2,
p {
  align-self: flex-start;
  margin-left: 3rem;
  padding-bottom: 0.8rem;
}
.worktime .day {
  font-size: 0.8rem;
  font-family: Verdana;
  color: #783f27;
}
/* HOURS ENDS */

/* FOOTER START*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #783f27;
  height: 4rem;
  z-index: 1;
}
footer p {
  align-self: center;
  color: #fff;
  font-size: 0.8rem;
}
/* FOOTER END */
